.header{
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

.container,.folder{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:30px;
}

.folder{
    line-height: 25px;
}

.hidden{
    gap:20px;
}